body {
    background-color: #0d0d0d;
    animation: pulseBg 4s infinite alternate;
    font-family: 'Orbitron', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
@keyframes pulseBg {
    0% {
        background-color:#0d0d0d;
        box-shadow: 0 0 20px #00fff7, 0 0 40px #00fff7, 0 0 60px #00fff7;
    }
    100% {
        background-color: #0d0d0d;
        box-shadow: 0 0 40px #00fff7, 0 0 80px #00fff7, 0 0 120px #00fff7;
    }
}
p {
    color:whitesmoke;
}
.author {
    color: gold;
    font-size: 33px;
    margin: auto;
}
a {
    color: white;
}
.upright {
  text-orientation: upright;
}