body {
    background-color: #ffffff;
    animation: pulseBg 4s infinite alternate;
    font-family: 'Orbitron', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
@keyframes pulseBg {
    0% {
        background-color:#ffffff;
        box-shadow: 0 0 20px #00fff7, 0 0 40px #00fff7, 0 0 60px #00fff7;
    }
    100% {
        background-color: #ffffff;
        box-shadow: 0 0 40px #00fff7, 0 0 80px #00fff7, 0 0 120px #00fff7;
    }
}
p {
    color:whitesmoke;
}
.author {
    color: rgb(0, 0, 0);
    font-size: 28px;
    margin: auto;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.upright {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

a:hover {
  color:rgb(255,179,0);
  text-shadow:0 0 5px #65272C;
  transform: scale(1.4);
}