body {
    background-color: #0d0d0d;
    animation: pulseBg 4s infinite alternate;
}
@keyframes pulseBg {
    0% {
        background-color:#0d0d0d;
        box-shadow: 0 0 20px #00fff7, 0 0 40px #00fff7, 0 0 60px #00fff7;
    }
    100% {
        background-color: #0d0d0d;
        box-shadow: 0 0 40px #00fff7, 0 0 80px #00fff7, 0 0 120 #00fff7;
    }
}
p {
    color:whitesmoke;
    font-family: monospace;
}